.weather-app {
  background-color: #c4c1e0;
  margin: 60px auto;
  max-width: 800px;
  max-height: 500px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  color: #27296d;
  font-family: "Host Grotesk", serif;
}

h1 {
  font-size: 50px;
}

a {
  color: #27296d;
}
.weather-app {
  padding: 30px;
}
.temp-icons {
  font-size: 34px;
  font-weight: bold;
  display: flex;
}

.current-city {
  text-align: center;
}
.current-details {
  text-align: center;
}
.current-temperature {
  display: flex;
  font-size: 14px;
}

search-form {
  padding: 10px;
  border-bottom: 1px solid #f9f7fe;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: #27296d;
  font-size: 14px;
  padding: 15px 20px;
  width: 80%;
}

.search-button {
  border-radius: 6px;
  line-height: 1;
  font-size: 14px;
  border: none;
  color: #f9f7fe;
  background-color: #27296d;
  padding: 15px 20px;
  margin-left: 8px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  font-family: "Host Grotesk", serif;
  color: rgba(39, 33, 66, 0.4);
}
